* {
    margin: 0;
    padding: 0;
}

body {
    background: #F1D4D4;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 94vw;
    height: auto;
    color: black;
}

h1 {
    font-size: 3vw;
    /* text-shadow: .3vw .3vw .8vw black; */
}

#block {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#navbar {
    background: #E6739F;
    width: 18vw;
    padding: 2vw;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
    border: #790C5A solid .5vw;
    border-radius: 10%;
    box-shadow: .6vw .6vw 2vw black;
}

nav {
    margin-top: 2vh;
    font-size: 1.5vw;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #790C5A;
}

#manager {
    width: 50vw;
    min-height: 40vh;
    height: 59vh;
    font-size: 1.2vw;
    background: #E6739F;
    border: #790C5A solid .5vw;
    border-radius: 3vw;
    box-shadow: .6vw .6vw 2vw black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input {
    font-size: 1vw;
    border: none;
    color: #790C5A;
    background: #F1D4D4;
    text-align: start;
    border-radius: 1vh;
    padding: .5vh;
}

button {
    font-size: 1vw;
    border: none;
    background: white;
    padding: .3vw;
    border-radius: .5vw;
    transition: 1s;
    margin-top: 3vh;
}

button:hover {
    background: #790C5A;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80%;
}